// Media Queries
@media screen and (max-width: 767px) {
  header .navbar {
    font-size: 1rem;
  }
  .flex {
    flex-wrap: wrap;
  }
  .card, .pic {
    flex-basis: 80%;
  }
}

@media screen and (min-width: 768px) {
  header .navbar {
    font-size: 1.05rem;
  }
  .card, .pic {
    flex-basis: 45%;
  }
}
@media screen and (min-width: 1024px) {
  header .navbar {
    font-size: 1.2rem;
  }
  .card, .pic {
    flex-basis: 30%;
  }
}
@media screen and (min-width: 1440px) {
  header .navbar {
    font-size: 1.3rem;
  }
}